<div class="container">


    <div class="content" id="navigation">

        <div class="navbar-nav" id="main-nav">
                <a class="navbar-brand" href="/">Sulphur</a>
                <ul class="nav navbar-nav" id="main-nav-admin-menu" style="margin-bottom: 10px">
                    <li><a href="{{url_for('production')}}">production</a></li>
                    <li><a href="{{url_for('consumption')}}">consumption</a></li>
                </ul>
        </div>
        
    </div>
    <div class="container" style="background-color: white;">
        {% include "_flash.html" %}
    </div>
</div>